@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

body{
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
}


.attToCart {
    margin-top: 1rem;
    /* display: ; */
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}


.attToCart:hover{
    background: var(--green);
    letter-spacing: .1rem;
}


.dishes{
    margin-top: 15rem;
    padding: 0 20rem;
    padding-bottom: 10rem;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 4rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)) !important;
    gap:1.5rem;
}

.dishes .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

p{

    color: #27ae60;
    font-size: 25px;

}

/* .dishes .box-container .box .heart,
.dishes .box-container .box .eye{
    position: absolute;
    top:1.5rem;
    background: white;
    border-radius: 50%;
    height: 3rem;
    width:3rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--black);
}

.dishes .box-container .box .heart:hover{
        background: white;
        color: red;
}
.dishes .box-container .box .eye:hover{
    background: white;
    color: rgb(126, 243, 212);
}

.dishes .box-container .box .heart{
    right:-15rem;
}

.dishes .box-container .box .eye{
    left:-15rem;
}

.dishes .box-container .box:hover .heart{
    right:1.5rem;
}

.dishes .box-container .box:hover .eye{
    left:1.5rem;
} */

.dishes .box-container .box img{
    height:17rem;
    margin:1rem 0;
}

.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    padding:1rem 0;
}

.dishes .box-container .box .stars ion-icon{
    font-size: 1.7rem;
    color:var(--green);
}

.dishes .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}




.tags{
    font-size: 30px;
}

/* for resturant */
.box img:hover{
    
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 0.5s ease;

}

.box{
    text-align: center;
}

/* for cities */
.city{
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

.city:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

.dishes .box-container .box .span1{
    color: #1a758a;
    font-weight: 500;
    margin-right: 1rem;
    font-size: 17px;
}







/* Media Query */

@media (max-width:550px) {
    .dishes .box-container{
    grid-template-columns: repeat(1, minmax(28rem, 1fr)) !important;
    }

    .dishes .box-container .box img{
        height:auto;
        width: auto;
    }

    .order form .inputBox .input{
        width:100%;
    }

    .dishes{
        padding: 5rem !important;
    }
}


@media (max-width:991px) {

    /* 01 Navbar CSS */
    .header .navbar {
        background-size: cover;
        padding: 2rem;
    }
    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }
    
}


@media (max-width:1170px) {

    /* 01 Navbar CSS */
    .header .navbar {
        background-size: cover;
        padding: 2rem;
    }
    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }
}


@media (min-width:1500px) {
    .dishes .box-container{
        /* width: fit-content; */
        grid-template-columns: repeat(3, minmax(28rem, 1fr)) !important;
    }
}




