.center-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    background-color: orange;
    width:400px;
    height: 450px;
    text-align: center;
    color:white;
    transition: background-color 1s;
    }
    
    .center-box:hover{
        background-color: rgb(33, 143, 254);
    }
    .text-field{
    padding: 10px 30px;
    margin: 20px 0;
    border: 2px solid white;
    /* border-radius: 10px; */
    font-size: 12pt;
    color:green;
    transition: background-color 1s;
    }
    
    .btn-style{
    width: 100px;
    padding: 10px;
    border:1px solid white;
    background-color: white;
    color: #000;
    transition: background-color 1s;
    }
    .btn-style:hover{
    background-color: rgb(255, 141, 145);
    color:white;
    }
    
    .go-home{
        width:150px;
    }
    
    #google{
        display: inline-block;
        /* position: relative; */
        width: 200px;
    }
    
    
    .google-icon{
        float: left;
    }
    
    .an-btn{
        width: 280px;
    margin-top: 10px;
    /* border-radius: 2rem; */
    border: 0;
    background-color: white;
    color:black;
    font-size: 11pt;
    transition: background-color 1s;
    }
    
    
    .btn-style:hover{
        cursor: pointer;
    }
    
    body{
        background: url("../images/hero-bg.png");
    }
    #google:hover{
        background-color: mediumslateblue;
    }
    
    
    .an-btn:hover{
        background-color: rgb(255, 141, 145);
        color:white;
    }
    #register-div{
    display:none;
    }
    #register-div{
    display:none;
    }
    
    #register-div :hover{
    cursor: pointer;
    }
    #result-box{
        display:none;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size: 14pt;
        color: black;
    }

 

