body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
}

.badge-secondary {
    background-color: grey;
}
.login{
    width: 60%;
    height: 70vh;
    display: flex;
 
   
}

.right{
    width: 60%;
    height: 100%;
    background-image: url("../images/hero-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
   
}

.left{
    width: 40%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   
    
}
.form-control{
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

     